<form jd-panel jd-title="Lista de Animais" ng-controller="app.core.animals.AnimalsCtrl as animalsCtrl" name="animalsForm">
    <div class="row">
  	    <input jd-input jd-label="Pesquisar" type="text" ng-model="animalsCtrl.animalsModel.searchText">
	</div>
    <div class="row">
        <div jd-panel="4" ng-repeat="animal in animalsCtrl.animalsModel.animalList | filter:animalsCtrl.animalsModel.searchText">
            <div class="row">
                <img ng-src={{animal.img}} class="responsive-img" />
                <h5>{{animal.name}}<small><p>{{animal.spitz}}</p></small></h5>
                <p class="group inner list-group-item-text">{{animal.desciption}}</p>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn" ng-click="animalsCtrl.animalDetail(animal)" jd-i18n>Quero adotar</a>
                <a class="waves-effect waves-light btn" ng-click="animalsCtrl.removeAnimal(animal)" jd-roles-to-show="ADMIN" jd-i18n>Remover</a>
            </div>
        </div>
	</div>
</form>