<form jd-panel ng-controller="app.core.mysubmodule.myfeature2.Myfeature2Ctrl as myfeature2Ctrl" name="myfeature2Form" jd-title="My Feature 2">

    <div class="row">
    	<input type="text" jd-input jd-label="Input 1" ng-model="myfeature2Ctrl.myfeature2Model.input1">
    </div>

    <div class="row">
    	<div class="col s12">
    		<button class="waves-effect waves-light btn" ng-click="myfeature2Ctrl.method1()" jd-i18n>Method 1</button>
        	<button class="waves-effect waves-light btn" ng-click="myfeature2Ctrl.method2()" jd-i18n>Method 2</button>
    	</div>
    </div>
</form>