<div class="row" jd-full-screen-page>
    <div class="col s12 card-panel z-depth-4">
        <form class="login-form" ng-controller="app.common.auth.signup.SignupCtrl as signupCtrl" name="form_signup" novalidate ng-submit="signupCtrl.save()">
            <div class="row">
                <div class="input-field col s12 center">
                    <p class="center" jd-i18n>Adote-me</p>
                </div>
            </div>
            <div class="row margin">
                <input jd-input="12" jd-label="Nome" required ng-model="signupCtrl.signupModel.nome" type="text">
            </div>
            <div class="row margin">
                <input jd-input="12" jd-label="Email" required ng-model="signupCtrl.signupModel.email" type="text">
            </div>
            <div class="row margin">
                <input type="text"
                        name="signupCtrl.signupModel.cpf"
                        mask="cpf"
                        jd-input="12"
                        required
                        ng-model="signupCtrl.signupModel.cpf"
                        jd-label="CPF">
            </div>
            <div class="row margin">
                <input jd-input="12" jd-label="Usuário" required ng-model="signupCtrl.signupModel.username" type="text">
            </div>
            <div class="row margin">
                <input jd-input="12" jd-label="Senha" required ng-model="signupCtrl.signupModel.password" type="password">
            </div>
            <div class="row margin">
                <input type="password"
                               class="form-control input-lg input-round text-center"
                               jd-input="12"
                               required
                               jd-validate-equals="signupCtrl.signupModel.password"
                               ng-model="signupCtrl.signupModel.confirmPassword"
                               jd-label="Confirmação de Senha">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button ng-disabled="!form_signup.$valid" class="btn waves-effect waves-light col s12" jd-i18n>Salvar</buutton>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a href="#/common/auth/signin" jd-i18n>Entrar</a></p>
                </div>
            </div>
        </form>
    </div>
</div>