<form jd-panel ng-controller="app.core.mysubmodule.myfeature1.Myfeature1Ctrl as myfeature1Ctrl" name="myfeature1Form" jd-title="My Feature 1">

    <h5 jd-i18n>Campos básicos</h5>

    <div class="row">
        <select jd-input jd-label="Select 1" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.select1 | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.select1"
        required>
            <option ng-repeat="item in myfeature1Ctrl.myfeature1Model.list track by item.id" value="{{item.id}}">{{item.value}}</option>
        </select>

        <select jd-input jd-label="Select 2" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.select2 | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.select2"
        required jd-options="item.id as item.value for item in myfeature1Ctrl.myfeature1Model.list">
            <option value="" jd-i18n>Selecione</option>
        </select>

        <div class="col s3">
            <a class="btn-floating btn-large waves-effect waves-light red" ng-click="myfeature1Ctrl.method2()"><i class="material-icons">add</i></a>
        </div>
    </div>

    <div class="row">
        <input jd-input="2" jd-label="Input" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.input | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.input"
        type="text" required />

        <input jd-input="3" jd-label="Input" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.input | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.input"
        type="text" required />

        <input jd-input="4" jd-label="Input" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.input | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.input"
        type="text" required />

        <div jd-input jd-label="Texto estático">Valor qualquer...</div>
    </div>

    <div class="row">
        <input jd-input="6" jd-grouplabel="Radios" jd-label="{{item.value}}" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.radios | json}}"
        ng-model="myfeature1Ctrl.myfeature1Model.data.radios" type="radio" required jd-repeat="item in myfeature1Ctrl.myfeature1Model.list"
        ng-value="item" />

        <input jd-input="4" jd-label="Radio" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.radio | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.radio"
        type="radio" required ng-value="true" />
    </div>

    <div class="row">
        <input jd-input="6" jd-grouplabel="Checks" jd-label="{{item.value}}" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.checks | json}}"
        ng-model="myfeature1Ctrl.myfeature1Model.data.checks[$index]" type="checkbox" required jd-repeat="item in myfeature1Ctrl.myfeature1Model.list"
        ng-value="true" />

        <input jd-input="4" jd-label="Check" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.check | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.check"
        type="checkbox" required ng-value="true" />
    </div>

    <div class="row">
        <textarea jd-input="12" jd-label="Textarea" ng-model="myfeature1Ctrl.myfeature1Model.data.textarea" required rows="5" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.textarea | json}}"></textarea>
    </div>

    <!--h5 jd-i18n>Data / Horas</h5>

	<div class="row">
		<input required jd-max-date="myfeature1Ctrl.myfeature1Model.data.datepickermax" jd-input jd-label="Datepicker Min Date" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.datepickermin | date:'shortDate'}}" ng-model="myfeature1Ctrl.myfeature1Model.data.datepickermin" type="text" jd-datepicker>

		<input required jd-min-date="myfeature1Ctrl.myfeature1Model.data.datepickermin" jd-input jd-label="Datepicker Max Date" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.datepickermax | date:'shortDate'}}" ng-model="myfeature1Ctrl.myfeature1Model.data.datepickermax" type="text" jd-datepicker>
	</div>
	
	<div class="row">
		<input jd-input jd-label="Timepicker" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.timepicker | date:'shortTime'}}" ng-model="myfeature1Ctrl.myfeature1Model.data.timepicker" type="text" jd-datepicker="time">

		<input jd-input jd-label="DateTimePicker" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.datetimepicker | date:'short'}}" ng-model="myfeature1Ctrl.myfeature1Model.data.datetimepicker" type="text" jd-datepicker="date-time">
	</div-->

    <h5 jd-i18n>Máscaras</h5>

    <div class="row">
        <input jd-input jd-label="CPF" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.cpf | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.cpf"
        type="text" required mask="cpf" />

        <input jd-input jd-label="CNPJ" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.cnpj | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.cnpj"
        type="text" required mask="cnpj" />

        <input jd-input jd-label="CEP" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.cep | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.cep"
        type="text" required mask="cep" />

        <input jd-input jd-label="Inteiro" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.int | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.int"
        type="text" required mask="int" />

        <input jd-input jd-label="Telefone" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.tel | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.tel"
        type="text" required mask="tel" />

        <input jd-input jd-label="Outro" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.other | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.other"
        type="text" required mask="9999-9999-9999" />

        <input jd-input jd-label="Decimal" jd-help="Valor: {{myfeature1Ctrl.myfeature1Model.data.decimal | json}}" ng-model="myfeature1Ctrl.myfeature1Model.data.decimal"
        type="text" required ng-currency-mask currency="" />
    </div>

    <h5 jd-i18n>Grid</h5>

    <table jd-table="myfeature1Ctrl.myfeature1Model.list" jd-paginated>
        <tbody>
            <tr>
                <td jd-sortable jd-attribute="id" jd-title="Código"></td>
                <td jd-sortable jd-attribute="value" jd-title="Nome"></td>
                <td jd-sortable jd-attribute="date" jd-title="Data" jd-filter="date:'short'"></td>
                <td jd-sortable jd-attribute="number" jd-title="Número" jd-filter="currency"></td>
            </tr>
        </tbody>
    </table>

    <h5 jd-i18n>Alertas</h5>

    <div class="row">
        <div class="col s12">
            <button class="waves-effect waves-light btn" ng-click="myfeature1Ctrl.method3()" jd-i18n>Alerta informativo</button>
            <button class="waves-effect waves-light btn" ng-click="myfeature1Ctrl.method4()" jd-i18n>Alerta de erro</button>
            <button class="waves-effect waves-light btn" ng-click="myfeature1Ctrl.method5()" jd-i18n>Toastr informativo</button>
            <button class="waves-effect waves-light btn" ng-click="myfeature1Ctrl.method6()" jd-i18n>Toastr de erro</button>
        </div>
    </div>

    <h5 jd-i18n>Confirmação</h5>

    <div class="row">
        <div class="col s12">
            <button class="waves-effect waves-light btn" ng-click="myfeature1Ctrl.method8()" jd-i18n>Confirmação</button>
        </div>
    </div>

    <h5 jd-i18n>Modais</h5>

    <div class="row">
        <div class="col s12">
            <button class="waves-effect waves-light btn" ng-click="myfeature1Ctrl.method7()" jd-i18n>Modal interna</button>
        </div>
    </div>

    <script type="text/ng-template" id="internalModalExample.html">
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Modal interna</h4>
                <p>                    
                    <div jd-input="12" jd-label="Param">{{param | json}}</div>
                </p>
            </div>
        </div>
    </script>
</form>