<div class="row" jd-full-screen-page>
    <div class="col s12 card-panel z-depth-4">
        <form class="login-form" ng-controller="app.common.auth.signin.SigninCtrl as signinCtrl" name="form_signin" novalidate ng-submit="signinCtrl.signin()">
            <div class="row">
                <div class="input-field col s12 center">
                    <p class="center" jd-i18n>Adote-me</p>
                </div>
            </div>
            <div class="row margin">
                <input jd-input="12" jd-label="Usuário" required ng-model="signinCtrl.signinModel.username" id="username" type="text">
            </div>
            <div class="row margin">
                <input jd-input="12" jd-label="Senha" required ng-model="signinCtrl.signinModel.password" id="password" type="password">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button ng-disabled="!form_signin.$valid" class="btn waves-effect waves-light col s12" jd-i18n>Entrar</buutton>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a href="#/common/auth/signup" jd-i18n>Cadastrar-se</a></p>
                </div>
            </div>
        </form>
    </div>
</div>